<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration scan="true" scanPeriod="60 seconds">
    <!--springProfile ??? ???? logback ?????? ???? ????? ??? ? ??.-->
    <property name="LOG_PATTERN"
              value="%highlight(%-5level) %d{yy-MM-dd HH:mm:ss} [%logger{0}:%line] - %msg%n"/> <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <logger name="jdbc" level="off"/> <!-- ??? open close ???? ??? ???. -->
    <logger name="jdbc.connection"
            level="off"/> <!-- SQL??? ??? ???, PreparedStatement? ?? ??? argument ??? ??? SQL?? ????. -->
    <logger name="jdbc.sqlonly" level="info"/> <!-- SQL?? ?? SQL? ?????? ??? ?? ??(milliseconds)? ????. -->
    <logger name="jdbc.sqltiming"
            level="off"/> <!-- ResultSet? ??? ?? JDBC ?? ??? ??? ???. ?? ?? ??? ????? ??? JDBC ??? ???? ? ??? ?? ??? ????? ??? ???? ???. -->
    <logger name="jdbc.audit" level="off"/> <!-- ResultSet? ??? ?? JDBC ?? ??? ??? ???? ?? ??? ?? ??? ????. -->
    <logger name="jdbc.resultset" level="off" /> <!-- SQL ?? ??? ???? table? ??? ???. -->
    <logger name="jdbc.resultsettable" level="off"/>
    <logger name="org.springframework.data.elasticsearch.client.WIRE" level="trace"/>


    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
