<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dongguri.reactsearchformdemo.mapper.TftApiMapper">


    <select id="getSummonerByName" resultType="org.dongguri.reactsearchformdemo.dto.SummonerDTO">
        <![CDATA[
            select id, accountId, puuid, profileIconId, revisionDate, name AS "summonerName", summonerLevel
            from tbl_summoner
            where name = #{summonerName}
        ]]>
    </select>

    <insert id="saveSummoner">
        insert into tbl_summoner (id, accountId, puuid, profileIconId, revisionDate, name, summonerLevel)
        values (#{id}, #{accountId}, #{puuid}, #{profileIconId}, #{revisionDate}, #{summonerName}, #{summonerLevel});
    </insert>

    <insert id="saveMatchInfo">
        <![CDATA[
        insert into tbl_match_info(match_id, game_version, game_variation, tft_set_number, game_length, game_datetime,
                                   queue_id)
        values (#{match_id}, #{game_version}, #{game_variation}, #{tft_set_number}, #{game_length}, #{game_datetime},
                #{queue_id})
        ]]>

    </insert>

    <select id="getMatchInfos" resultType="org.dongguri.reactsearchformdemo.dto.InfoDto">

    </select>
</mapper>