<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dongguri.reactsearchformdemo.mapper.TftApiMapper">

    <resultMap id="getMatchInfoMap" type="org.dongguri.reactsearchformdemo.dto.InfoDto">
        <constructor>
            <idArg column="match_id" javaType="String"/>
            <arg column="game_version" javaType="String"/>
            <arg column="game_variation" javaType="String"/>
            <arg column="game_length" javaType="Float"/>
            <arg column="queue_id" javaType="Integer"/>
            <arg column="tft_set_number" javaType="Integer"/>
            <arg column="game_datetime" javaType="java.time.LocalDateTime"/>
        </constructor>
        <collection property="participants" ofType="org.dongguri.reactsearchformdemo.dto.ParticipantDto"
                    resultMap="getParticipantsMap">
        </collection>
    </resultMap>

    <resultMap id="getParticipantsMap" type="org.dongguri.reactsearchformdemo.dto.ParticipantDto">
        <id property="match_participant_seq" column="tmdp_match_participant_seq"/>
        <result property="match_id" column="tmdp_match_id"/>
        <result property="gold_left" column="tmdp_gold_left"/>
        <result property="last_round" column="tmdp_last_round"/>
        <result property="level" column="tmdp_level"/>
        <result property="placement" column="tmdp_placement"/>
        <result property="players_eliminated" column="tmdp_players_eliminated"/>
        <result property="puuid" column="tmdp_puuid"/>
        <result property="time_eliminated" column="tmdp_time_eliminated"/>
        <result property="total_damage_to_players" column="tmdp_total_damage_to_players"/>

        <association property="companion" column="companion" resultMap="getCompanionMap" columnPrefix="tpc_"/>
        <collection property="traits" ofType="org.dongguri.reactsearchformdemo.dto.TraitDto"
                    resultMap="getTraitsMap" columnPrefix="tpt_"/>
        <collection property="units" ofType="org.dongguri.reactsearchformdemo.dto.UnitDto"
                    resultMap="getUnitsMap" columnPrefix="tpu_"/>
    </resultMap>

    <resultMap id="getTraitsMap" type="org.dongguri.reactsearchformdemo.dto.TraitDto">
        <result property="match_participant_seq" column="match_participant_seq"/>
        <result property="name" column="name"/>
        <result property="num_units" column="num_units"/>
        <result property="style" column="style"/>
        <result property="tier_current" column="tier_current"/>
        <result property="tier_total" column="tier_total"/>
    </resultMap>

    <resultMap id="getUnitsMap" type="org.dongguri.reactsearchformdemo.dto.UnitDto">
        <result property="match_participant_seq" column="match_participant_seq"/>
        <result property="character_id" column="character_id"/>
        <result property="chosen" column="chosen"/>
        <result property="name" column="name"/>
        <result property="rarity" column="rarity"/>
        <result property="tier" column="tier"/>
    </resultMap>

    <resultMap id="getCompanionMap" type="org.dongguri.reactsearchformdemo.dto.CompanionDto">
        <result property="match_participant_seq" column="match_participant_seq"/>
        <result property="content_ID" column="content_ID"/>
        <result property="skin_ID" column="skin_ID"/>
        <result property="species" column="species"/>
    </resultMap>

    <resultMap id="metaDataByMatchIdMap" type="org.dongguri.reactsearchformdemo.dto.MetaDataDto">
        <constructor>
            <idArg column="match_id" javaType="String"/>
            <idArg column="data_version" javaType="Integer"/>
        </constructor>
        <collection property="participants" column="match_id" select="getMatchParticipants" />
    </resultMap>


    <select id="getMatchInfos" resultMap="getMatchInfoMap">
        select tmi.match_id,
               tmi.game_variation,
               tmi.game_version,
               tmi.tft_set_number,
               tmi.game_length,
               tmi.game_datetime,
               tmi.queue_id,
               tmdp.match_participant_seq   as tmdp_match_participant_seq,
               tmdp.match_id                as tmdp_match_id,
               tmdp.puuid                   as tmdp_puuid,
               gold_left                    as tmdp_gold_left,
               tmdp.last_round              as tmdp_last_round,
               tmdp.level                   as tmdp_level,
               tmdp.placement               as tmdp_placement,
               tmdp.players_eliminated      as tmdp_players_eliminated,
               tmdp.time_eliminated         as tmdp_time_eliminated,
               tmdp.total_damage_to_players as tmdp_total_damage_to_players,
               tpt.match_participant_seq    as tpt_match_participant_seq,
               tpt.name                     as tpt_name,
               tpt.num_units                as tpt_num_units,
               tpt.style                    as tpt_style,
               tpt.tier_current             as tpt_tier_current,
               tpt.tier_total               as tpt_tier_total,
               tpu.match_participant_seq    as tpu_match_participant_seq,
               tpu.character_id             as tpu_character_id,
               tpu.chosen                   as tpu_chosen,
               tpu.name                     as tpu_name,
               tpu.rarity                   as tpu_rarity,
               tpu.tier                     as tpu_tier,
               tpc.match_participant_seq    as tpc_match_participant_seq,
               tpc.content_ID               as tpc_content_ID,
               tpc.skin_ID                  as tpc_skin_ID,
               tpc.species                  as tpc_species
        from tbl_match_info tmi
                 inner join tbl_match_detail_participant tmdp on tmdp.match_id = tmi.match_id
                 inner join tbl_participant_trait tpt on tmdp.match_participant_seq = tpt.match_participant_seq
                 inner join tbl_participant_unit tpu on tmdp.match_participant_seq = tpu.match_participant_seq
                 inner join tbl_participant_companion tpc on tmdp.match_participant_seq = tpc.match_participant_seq
        WHERE tmi.match_id = #{match_id}
    </select>

    <select id="getMatchDetailParticipant" resultType="org.dongguri.reactsearchformdemo.dto.ParticipantDto">
        select match_participant_seq,
               match_id,
               puuid,
               gold_left,
               last_round,
               level,
               placement,
               players_eliminated,
               time_eliminated,
               total_damage_to_players
        from tbl_match_detail_participant
        where match_id = #{match_id}
    </select>

    <select id="getSummonerByName" resultType="org.dongguri.reactsearchformdemo.dto.SummonerDTO">
        <![CDATA[
        select id, accountId, puuid, profileIconId, revisionDate, name AS "summonerName", summonerLevel
        from tbl_summoner
        where name = #{summonerName}
        ]]>
    </select>


    <insert id="saveSummoner">
        insert into tbl_summoner (id, accountId, puuid, profileIconId, revisionDate, name, summonerLevel)
        values (#{id}, #{accountId}, #{puuid}, #{profileIconId}, #{revisionDate}, #{summonerName}, #{summonerLevel});
    </insert>

    <insert id="saveMatchInfo">
        insert into tbl_match_info(match_id, game_version, game_variation, tft_set_number, game_length, game_datetime,
                                   queue_id)
        values (#{match_id}, #{game_version}, #{game_variation}, #{tft_set_number}, #{game_length}, #{game_datetime},
                #{queue_id})
    </insert>

    <insert id="saveMatchDetailParticipant" useGeneratedKeys="true" keyProperty="match_participant_seq">
        insert into tbl_match_detail_participant (match_id, puuid, gold_left, last_round,
                                                  level, placement, players_eliminated, time_eliminated,
                                                  total_damage_to_players)
        values (#{match_id}, #{puuid}, #{gold_left}, #{last_round},
                #{level}, #{placement}, #{players_eliminated}, #{time_eliminated}, #{total_damage_to_players})
    </insert>

    <insert id="saveParticipantCompanion">
        insert into tbl_participant_companion (match_participant_seq, content_ID, skin_ID, species)
        values (#{match_participant_seq}, #{content_ID}, #{skin_ID}, #{species})
    </insert>

    <insert id="saveParticipantsTrait">
        insert into tbl_participant_trait (match_participant_seq, name, num_units, style, tier_current, tier_total)
        values (#{match_participant_seq}, #{name}, #{num_units}, #{style}, #{tier_current}, #{tier_total})
    </insert>

    <insert id="saveParticipantsUnit">
        insert into tbl_participant_unit(match_participant_seq, character_id, chosen, name, rarity, tier)
        values (#{match_participant_seq}, #{character_id}, #{chosen}, #{name}, #{rarity}, #{tier})
    </insert>

    <insert id="saveMetaData">
        insert into tbl_metadata(match_id, data_version)
        values (#{match_id}, #{data_version})
    </insert>

    <insert id="saveMatchParticipants">
        insert into tbl_match_participant(match_id, participants)
        values
        <foreach collection="participants" item="participants" separator=",">
            (#{match_id} , #{participants})
        </foreach>
    </insert>


    <select id="getMetaDataByMatchId" resultMap="metaDataByMatchIdMap">
        select match_id, data_version
        from tbl_metadata
        where match_id = #{match_id}
    </select>

    <select id="getMatchParticipants" resultType="String">
        select participants
        from tbl_match_participant
        where match_id = #{match_id}
    </select>
</mapper>